.custom-modal {
    margin-top: 80px;
}


body {
    background-color: rgb(173, 128, 194);
}


.custom-modal-content {
    border-radius: 20px;
    background-color: violet;
    color: white;
}

.modal-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.w {
    width: 30%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.c {

    justify-content: center;
    align-items: center;
    margin-left: 49%;
    margin-top: 30px;
}


.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info-evento .modal-header {
    text-align: center;
}

#info-evento .modal-title {
    margin: 0 auto;
}

#info-evento {
    margin-top: 40px;
}


#contenedor-de-eventos {
    margin-bottom: 50px;
}

.carrito-entradas {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.carrito-entradas i {
    margin-right: 5px;
}

.carrito-entradas h1 {
    margin: 0;
}

#centrar {
    text-align: center;
}

.swal2-heart-title {
    font-size: 24px;
    color: #ff3b3b;
    /* Color del corazón */
}

.swal2-heart-title::before {
    content: "\f004";
    /* Código Unicode del corazón en Font Awesome */
    font-family: "Font Awesome 5 Free";
    /* Nombre de la fuente de Font Awesome */
    margin-right: 10px;
    /* Espacio entre el ícono y el texto */
}